@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}
section {
  transition: all 0.3s ease-in-out;
}
